<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RayStar Editor</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="skins/style.css"/>
</head>
<body>

{{ renderer.render(menu) | raw }}

<br/>


{% if presetNameTable %}

    <b>Now editing preset: {{ presetNameTable }}</b>

    <div>
        For editing values - double click on values.<br />
        For save - push enter.<br />
        Then click "apply" for save to file.<br />
    </div>


    <form method="post" action="?preset={{ presetNameTable }}&q=update">

        <input type="submit" value="Apply">
        <table>
            <tr>
                <td>&nbsp;</td>
                {% for keyTime, timePreset in timePresetData %}
                    <td>
                        <input title="time" type="text" name="time[{{ keyTime }}]" value="{{ timePreset }}">
                        <div class="valueblock">{{ timePreset }}</div>
                    </td>
                {% endfor %}
            </tr>

            {% for keyColor, color in colorArray %}
                <tr>
                    <td>
                        {{ color.name }}
                        ({{ color.wave }})
                    </td>
                    {% for i in 1..20 %}
                        <td>
                            <div class="levelblock" style="background-color:{{ color.color }}">
                                <div class="level"
                                     style="height:{{ 100 - (presetValuesData[i][keyColor] / 255 * 100)|round }}%"></div>
                            </div>
                            <div class="valuecontainer">
                                <input title="level" type="text" name="level[{{ i }}][{{ keyColor }}]"
                                       value="{{ (presetValuesData[i][keyColor] / 255 * 100)|round }}">

                                <div class="valueblock">{{ (presetValuesData[i][keyColor] / 255 * 100)|round }}</div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

            <input type="hidden" name="originaldata" value="{{ origanalStringForForm }}">
            <input type="hidden" name="originalname" value="{{ origanalNameForForm }}">

        </table>
        <input type="submit" value="Apply">
    </form>

    <script src="skins/script.js"></script>

{% endif %}

</body>
</html>